[submodule "src/galib"]
	path = src/galib
	url = git@140.127.205.188:jamesljlster/galib.git
[submodule "test/test_deps/CSV_DataProc"]
	path = test/test_deps/CSV_DataProc
	url = git@140.127.205.188:jamesljlster/CSV_DataProc.git
